/* styles.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

body {
  background-color: var(--primary-colour);
  color: var(--header-colour);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 3fr 1fr;
}

header {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.searchBox {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(247, 127, 0, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* From Uiverse.io by sahilxkhadka */
.weatherCard {
  width: 342px;
  height: 184px;
  position: relative;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  fill: linear-gradient(90deg, #5936b4 0%, #362a84 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cloud {
  position: absolute;
  right: 0;
  top: -12px;
}

.cloud svg {
  height: 120px;
}

.weatherCard .tempVal {
  font-size: 48px;
  z-index: 2;
}

.weatherCard .info {
  display: flex;
  justify-content: space-between;
}

.weatherCard .info .text-gray {
  color: rgba(235, 235, 245, 0.6);
}

.weatherCard .info .info-right {
  align-self: flex-end;
}
